HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Mac & Windows Junk (Hygiene) ###
.DS_Store
Thumbs.db
desktop.ini

### Logs & Crash Dumps ###
*.log
hs_err_pid*

### 🛑 SECURITY (Crucial) ###
.env
secrets.properties
application-dev.properties